/*selections画面*/
.selections-main {
  padding-left: 30px;
}

.selections {
  display: flex;
  padding: 20px 20px 0 250px;
}

.select-button {
  margin-right: 30px;
}

/*losses画面*/
.losses-main {
  padding-left: 30px;
}

/*fraudss画面*/
.frauds-main {
  padding-left: 30px;
}

/*共通CSS*/
.common-wrap {
  background-color: #eff2f4;
  display:inline-block;
  border-radius: 10px;
  padding: 10px 20px;
}

.under-wrap {
  margin-top: 20px;
}



.red-text {
  color: red;
  font-size: 13px;
  padding-left: 30px;
}

.blue-text {
  color: blue;
  font-size: 13px;
  padding-left: 30px;
}

.card-wrap {
  display: flex;
}

.select-wrap {
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px;
  background-color: #cde4ff;
}


.double-wrap {
  display: flex;
  margin: 10px 10px;
}

p.double-wrap {
  text-align: center;
}

.search-button {
  margin-left: 400px;
}

.one-wrap {
  display: flex;
}

.three-wrap {
  background-color: #6396d4;
  width : calc(100% / 3);
  margin: 0 10px 0 10px;
  padding-bottom: 3px;
  border-radius: 10px;
}

.card-title-wrap {
  background-color: #6396d4;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 0 0 0 10px;
}

.title-wrap {
  background-color: #99c1f1;
  padding: 0 10px 0 10px;
  margin: 0 3px 0 3px;
}

.script-wrap {
  background-color: #eff2f4;
  padding: 10px 10px 10px 10px;
  margin: 0 3px 0 3px;
}

.script-wrap p {
  margin: 0;
  padding: 0;
}
